################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

src/ApiGateway.Api/appsettings.Development.json
src/ApiGateway.Api/bin
src/ApiGateway.Api/obj
src/ApiGateway.Api/appsettings.json